body {
    background-color: #f6eafe;
    font-family: Tahoma;
    margin-left: 100px;
    margin-right: 100px;
    
  }
  .div{
    width: 100%;
    height: 100px;
    background-color:rgb(87, 0, 175);
    padding-top: 10px;
    clear: none;
    border-radius: 20px;
}
h3{
  color: rgb(255, 255, 255);
  text-align: center;
}
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;

  }

  h2 {
    border-bottom: 3px solid rgb(87, 0, 175);
    margin-top: 10px;
    color:rgb(87, 0, 175);
  }

  p {
    font-weight: bolder;
    float: left;
  }
  img{
    width: 300px;
    height: 300px;
    float: right;
    display: block;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;  
  }
  .div2{
    clear: both;
  }
  
  button {
    background-color: rgb(87, 0, 175); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;

  }
  
  button:hover {
    background-color: rgb(148, 48, 8);
  }
  .container{
    clear: both;
    display: block;
    margin-bottom: 20px;
    float:right;
    margin-right: 85%;
  }
  ul.social-network { 
    list-style: none;   
    display: inline;    
    margin-left:0 !important;   
    padding: 0;
    }
     
    ul.social-network li {  
    display: inline;    
    margin: 0 5px;
    }
     
    
     
    .social-network a.icoFacebook:hover {   
    background-color:#FF0000;
    }
     

    .social-network a.icoFacebook:hover i {   color:#fff;}
     
    .social-network a.icoFacebook  {    background-color:#3B5998;} 

    a.socialIcon:hover, .socialHoverClass { color:#44BCDD;}
     
    .social-circle li a {   
    display:inline-block;   
    position:relative;  
    margin:0 auto 0 auto;   
    -moz-border-radius:50%; 
    -webkit-border-radius:50%;  
    border-radius:50%;  
    text-align:center;  
    width: 40px;    
    height: 40px;   
    font-size:16px;
    }
     
    .social-circle li i {   
    margin:0;   
    line-height:40px;   
    text-align: center;
    }
     
     
    .social-circle li a:hover i, .triggeredHover {  
    -moz-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg);  
    -ms--transform: rotate(360deg); 
    transform: rotate(360deg);  
    -webkit-transition: all 0.2s;   
    -moz-transition: all 0.2s;  
    -o-transition: all 0.2s;    
    -ms-transition: all 0.2s;   
    transition: all 0.2s;
    }
     
    .social-circle i {  
    color: #fff;    
    -webkit-transition: all 0.8s;   
    -moz-transition: all 0.8s;  
    -o-transition: all 0.8s;    
    -ms-transition: all 0.8s;   
    transition: all 0.8s;
    }